/********General*****************/
.main-color {
  color: #e65f78 !important;
}

.main-backcolor {
  background-color: #e65f78 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Nunito", sans-serif;
}

.btn {
  padding: 15px 32px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.5s;
  letter-spacing: 0.6px;
  color: #fff;
  box-shadow: none !important;
  text-transform: uppercase;
  outline: none !important;
}

.btn-custom {
  border: 1px solid #fff;
}

html {
  scroll-behavior: smooth;
}
/* 
a,
a:hover,
a:focus,
button,
button:focus {
  text-decoration: none !important;
  outline: none !important;
  box-shadow: none !important;
} */

.section-subtitle {
  max-width: 500px;
}

/************Home********************/

#home {
  background-image: url("../imgs/header-bg.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

#home .overlay {
  background-color: rgba(0, 0, 0, 0.69);
}

#home .navbar {
  z-index: 2;
}

#home .navbar a {
  color: #000;
  transition: all 0.5s;
}

#home .navbar .active a {
  color: #e65f78;
}

#home .caption h1::after {
  content: "";
  animation: slider 10s linear infinite;
}

#home .caption h1 {
  font-size: 54px;
}

#home .caption p {
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.75) !important;
}

#home .caption a {
  border: 2px solid #f5f5f5;
  border-radius: 30px;
}

#home .scroll {
  bottom: 5%;
  width: 30px;
  left: 50%;
  transform: translatex(-50%) rotate(180deg);
}

#home .fixed-icons .settings {
  left: 0;
  top: 17%;
  background-color: #2b2424;
  width: 40px;
  height: 40px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

#home .fixed-icons .up-icon {
  bottom: 2%;
  right: 1%;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  z-index: 1;
}

#home .fixed-icons .settings i,
#home .fixed-icons .up-icon i {
  font-size: 20px;
  /* transform: rotate(360deg);
  transform-style: preserve-3d; */
}

/* #home .caption .down {
  height: 50px;
  width: 25px;
  border-radius: 30px;
  bottom: 40px;
  left: 50%;
  transform: translatex(-50%);
  animation: move 2s 1s infinite;
}

#home .caption .down .dot {
  width: 4px;
  height: 10px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 10px;
} */

#home .caption a:hover {
  background-color: #fff;
  color: #000 !important;
}

@keyframes slider {
  0% {
    content: "K|";
  }
  1% {
    content: "Ke|";
  }
  2% {
    content: "Ker|";
  }
  3% {
    content: "Kerr.|";
  }
  4% {
    content: "Kerri|";
  }
  5% {
    content: "Kerri |";
  }
  6% {
    content: "Kerri D|";
  }
  7% {
    content: "Kerri De|";
  }
  8% {
    content: "Kerri Deo|";
  }
  9% {
    content: "Kerri Deo.|";
  }
  10% {
    content: "Kerri Deo|";
  }
  11% {
    content: "Kerri De|";
  }
  12% {
    content: "Kerri D|";
  }
  13% {
    content: "Kerri |";
  }
  14% {
    content: "Kerri|";
  }
  15% {
    content: "Kerr|";
  }
  16% {
    content: "Ker|";
  }
  17% {
    content: "Ke|";
  }
  18% {
    content: "K|";
  }
  19% {
    content: "|";
  }
  20% {
    content: "A|";
  }
  21% {
    content: "A |";
  }
  22% {
    content: "A P|";
  }
  23% {
    content: "A Ph|";
  }
  25% {
    content: "A Pho|";
  }
  26% {
    content: "A Phot|";
  }
  27% {
    content: "A Photo|";
  }
  28% {
    content: "A Photog|";
  }
  29% {
    content: "A Photogr|";
  }
  30% {
    content: "A Photogra|";
  }
  31% {
    content: "A Photograp|";
  }
  32% {
    content: "A Photograph|";
  }
  33% {
    content: "A Photographe|";
  }
  34% {
    content: "A Photographer|";
  }
  35% {
    content: "A Photographer.|";
  }
  36% {
    content: "A Photographer|";
  }
  37% {
    content: "A Photographe|";
  }
  38% {
    content: "A Photograph|";
  }
  39% {
    content: "A Photograp|";
  }
  40% {
    content: "A Photogra|";
  }
  41% {
    content: "A Photogr|";
  }
  42% {
    content: "A Photog|";
  }
  43% {
    content: "A Photo|";
  }
  44% {
    content: "A Phot|";
  }
  45% {
    content: "A Pho|";
  }
  46% {
    content: "A Ph|";
  }
  47% {
    content: "A P|";
  }
  48% {
    content: "A |";
  }
  49% {
    content: "A|";
  }
  50% {
    content: "|";
  }
  51% {
    content: "A|";
  }
  52% {
    content: "A |";
  }
  53% {
    content: "A G|";
  }
  54% {
    content: "A Gr|";
  }
  55% {
    content: "A Gra|";
  }
  56% {
    content: "A Grap|";
  }
  57% {
    content: "A Graph|";
  }
  58% {
    content: "A Graphi|";
  }
  59% {
    content: "A Graphic|";
  }
  60% {
    content: "A Graphic |";
  }
  61% {
    content: "A Graphic D|";
  }
  62% {
    content: "A Graphic De|";
  }
  63% {
    content: "A Graphic Des|";
  }
  64% {
    content: "A Graphic Desi|";
  }
  65% {
    content: "A Graphic Desig|";
  }
  66% {
    content: "A Graphic Design|";
  }
  67% {
    content: "A Graphic Designe|";
  }
  68% {
    content: "A Graphic Designer|";
  }
  69% {
    content: "A Graphic Designer.|";
  }
  70% {
    content: "A Graphic Designer|";
  }
  71% {
    content: "A Graphic Designe|";
  }
  72% {
    content: "A Graphic Design|";
  }
  73% {
    content: "A Graphic Desig|";
  }
  74% {
    content: "A Graphic Desi|";
  }
  75% {
    content: "A Graphic Des|";
  }
  76% {
    content: "A Graphic De|";
  }
  77% {
    content: "A Graphic D|";
  }
  78% {
    content: "A Graphic |";
  }
  79% {
    content: "A Graphic|";
  }
  80% {
    content: "A Graphi|";
  }
  81% {
    content: "A Graph|";
  }
  82% {
    content: "A Grap|";
  }
  83% {
    content: "A Gra|";
  }
  84% {
    content: "A Gr|";
  }
  85% {
    content: "A G|";
  }
  86% {
    content: "A |";
  }
  87% {
    content: "A|";
  }
  88% {
    content: "|";
  }
  89% {
    content: "";
  }
  90% {
    content: "";
  }
  91% {
    content: "";
  }
  92% {
    content: "";
  }
  93% {
    content: "";
  }
  94% {
    content: "";
  }
  95% {
    content: "";
  }
  96% {
    content: "";
  }
  97% {
    content: "";
  }
  98% {
    content: "";
  }
  99% {
    content: "";
  }
  100% {
    content: "";
  }
}

#home .navbar a:hover {
  color: #e65f78;
}

@keyframes move {
  0% {
    bottom: 60px;
  }
  20% {
    bottom: 40px;
  }
  40% {
    bottom: 50px;
  }
  60% {
    bottom: 40px;
  }
  80% {
    bottom: 45px;
  }
  100% {
    bottom: 40;
  }
}

/*@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 2s infinite linear;
}*/

/************About*********************/
#about a {
  color: #000;
  height: 42px;
  width: 42px;
  padding: 8px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid #d4d4d4;
  text-decoration: none;
  transition: all 0.5s;
}

#about a:hover {
  color: #e65f78;
  border-color: #e65f78;
}
/***********Services************************/
#services .service-item {
  border: 1px solid #e8e8e8;
}

#services .service-item i {
  font-size: 44px;
  font-weight: 600;
}

#services h5 {
  font-weight: 600;
}

#services .services-title-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  transition: all 0.5s;
}

#services .service-item:hover .services-title-border {
  width: 60px;
}
/*************client*************************/

#client .client_review {
  font-size: 18px;
}

#client .client_name {
  font-size: 16px;
}

#client .carousel-indicators {
  bottom: 50px;
}

#client .carousel-indicators span {
  width: 12px;
  height: 6px;
  border-radius: 20px;
  display: block;
  margin: 5px 4px;
  opacity: 0.5;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.5s;
}

#client .carousel-indicators span:hover {
  opacity: 1;
}

#client .carousel-indicators .active {
  width: 20px;
  opacity: 1;
}
/***********Portfolio***************/
#portfolio .nav a.active {
  background-color: #e65f78;
  color: #fff !important;
}

#portfolio .nav li a {
  color: #000;
  border-radius: 30px;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 6px 16px;
  margin-top: 5px;
}

#portfolio .img-layer {
  top: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.69);
  transition: all 0.5s;
}
#portfolio .portfolio-img,
#portfolio .layer-content,
#portfolio .nav a {
  transition: all 0.5s;
}

#portfolio .portfolio-item p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
}

#portfolio .portfolio-item h4 {
  font-size: 18px;
}

#portfolio .img-layer .layer-content{
  top: 50%;
}

#portfolio .portfolio-item:hover .img-layer {
  opacity: 1;
}

#portfolio .portfolio-item:hover .layer-content {
  top: 0 !important;
}

#portfolio .portfolio-item:hover .portfolio-img {
  transform: scale(1.1);
}

#portfolio ul li a:hover {
  background-color: #e65f78;
  color: #fff;
}
/***********Blog***********/
.blog-item {
  border-radius: 5px;
}

/**************Contact**********/

#contact .contact-item h5 {
  font-size: 18px;
}

#contact .contact-item i {
  font-size: 40px;
}

#contact .form-control:focus {
  border: 2px solid #e65f78;
  outline: 0;
  color: #495057;
  background-color: #fff;
  outline: 0;
  box-shadow: none /* 0 0 0 0.2rem rgba(230, 95, 120, 0.25)*/;
}

form .btn:hover,
.hire-btn:hover {
  background-color: #cc546a !important;
}
/*******Footer*******************/
#footer {
  background-color: #242424 !important;
}

#footer a {
  height: 42px;
  width: 42px;
  font-size: 18px;
  border-radius: 50%;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  background-color: rgba(241, 241, 241, 0.08);
}

/*************/
@keyframes bounce {
  0%,
  20%,
  53%,
  80%,
  to {
    transform: translateZ(0);
  }
  40%,
  43% {
    transform: translate3d(0, -30px, 0);
  }
  70% {
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0, -4px, 0);
  }
}
